<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <% include partials/nav.ejs %>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Người quản trị
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/trangchu/dangnhap"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
                    <li></li>
                </ol>
            </section>


        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0
            </div>
            <strong>Copyright &copy; 2018 <a href="">Mobifone 9</a>.</strong> All rights
            reserved.
        </footer>
        <% include partials/scripts.ejs %>
        <!-- Control Sidebar -->
        <% include partials/sidebar.ejs %>
    </div>
    <!-- ./wrapper -->

    <!-- jQuery 2.2.3 -->

</html>